.pointer{
    cursor: pointer;
}
  
a:hover{
    
    color: #0056b3 !important;
    text-decoration: underline !important;
    cursor: pointer;
}
  
i:hover{
    color: #0056b3 !important;
}

.bg-img{
    position: relative;
    background: url(/img/bg-masthead.jpg)no-repeat center center;
    background-size: cover;
    padding: 150px 0;
}
  
.bg-cover{
    background-size: cover !important;
    background: url(/img/bg-showcase-1.jpg) no-repeat center center;
    padding: 150px 0;
    height: 480px !important;
}
  
.bg-cover2{
    background-size: cover !important;
    background: url(/img/bg-showcase-2.jpg) no-repeat center center;
    padding: 150px 0;
    height: 480px !important;
}
  
.bg-cover3{
    background-size: cover !important;
    background: url(/img/bg-showcase-3.jpg) no-repeat center center;
    padding: 150px 0;
    height: 480px !important;
}
  
.bg-img-f{
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
}

.h7{
    font-size: 48px;
    font-weight: 700;
}

.lato{
    font-family: 'Lato', sans-serif !important;
}
  
.icon-lg{
    font-size: 70px;
}

.lh{
    line-height: 1.5;
}
   

.pt-7{
    padding-top: 6rem;
}
  
.circle-mxw{
    max-width: 200px !important;
}
  